html
  head
    meta(charset="utf-8")
    title= title
    style
      include ../node_modules/bootstrap/dist/css/bootstrap.min.css
  body
    .container
    .footer
      h6.text-center= footer
    script
      include ../node_modules/zepto/zepto.min.js

