script(id="Tools", type="text/x-template")
  include lib/tools

script(id="Devices", type="text/x-template")
  include lib/devices

script(id="Config", type="text/x-template")
  include lib/config

script(id="Hardware", type="text/x-template")
  include lib/hardware

script(id="Nav", type="text/x-template")
  include lib/nav



