script(id="DomoticzHTTP", type="text/x-template")
  include lib/DomoticzHTTP

script(id="alone", type="text/x-template")
  include lib/alone

script(id="Cmd", type="text/x-template")
  include lib/cmd

script(id="CmdResp", type="text/x-template")
  include lib/cmd-resp

script(id="Commands", type="text/x-template")
  include lib/commands

script(id="I2cRow", type="text/x-template")
  include lib/i2c-row

script(id="I2c", type="text/x-template")
  include lib/i2c

script(id="WifiRow", type="text/x-template")
  include lib/wifi-row

script(id="Wifi", type="text/x-template")
  include lib/wifi

script(id="LogRow", type="text/x-template")
  include lib/log-row

script(id="Log", type="text/x-template")
  include lib/log

script(id="Main", type="text/x-template")
  include lib/main

script(id="Login", type="text/x-template")
  include lib/login

script(id="Tools", type="text/x-template")
  include lib/tools

script(id="DevicesRow", type="text/x-template")
  include lib/devices-row

script(id="Devices", type="text/x-template")
  include lib/devices

script(id="Config", type="text/x-template")
  include lib/config

script(id="Hardware", type="text/x-template")
  include lib/hardware

script(id="Nav", type="text/x-template")
  include lib/nav



