
include lib/protocol

//-
  ######  ####  #####  #    #  ####
  #      #    # #    # ##  ## #
  #####  #    # #    # # ## #  ####
  #      #    # #####  #    #      #
  #      #    # #   #  #    # #    #
  #       ####  #    # #    #  ####

script(id='advanced', type='text/xtpl')
  include lib/advanced

script(id='CommandsRow', type='text/xtpl')
  include lib/commands-row

script(id='Commands', type='text/xtpl')
  include lib/commands

script(id='I2cRow', type='text/xtpl')
  include lib/i2c-row

script(id='I2c', type='text/xtpl')
  include lib/i2c

script(id='WifiRow', type='text/xtpl')
  include lib/wifi-row

script(id='Wifi', type='text/xtpl')
  include lib/wifi

script(id='LogRow', type='text/xtpl')
  include lib/log-row

script(id='Log', type='text/xtpl')
  include lib/log

script(id='Main', type='text/xtpl')
  include lib/main

script(id='Login', type='text/xtpl')
  include lib/login

script(id='Tools', type='text/xtpl')
  include lib/tools

script(id='Device', type='text/xtpl')
  include lib/device

script(id='DevicesRow', type='text/xtpl')
  include lib/devices-row

script(id='Devices', type='text/xtpl')
  include lib/devices

script(id='Config', type='text/xtpl')
  include lib/config

script(id='Hardware', type='text/xtpl')
  include lib/hardware

script(id='Nav', type='text/xtpl')
  include lib/nav



