script
  | $( function(){
  include ../../.tmp/js/config.js
  include ../../.tmp/js/main.js
  include ../../.tmp/js/cfg.js
  include ../../.tmp/js/devices.js
  include ../../.tmp/js/command.js
  include ../../.tmp/js/protocol.js
  include ../../.tmp/js/i2c.js
  include ../../.tmp/js/router.js
  | });
