#commands-list

.row.editLine
  h4 Enter command
  form.Cmd()
    .fast
      button.cmd.btn.btn-primary.btn-xs(def="TaskClear %1 %2") TaskClear
      button.cmd.btn.btn-primary.btn-xs(def="Settings") Settings
      button.cmd.btn.btn-primary.btn-xs(def="WifiScan") WifiScan
    .input-group
      input.form-control( type='text' name='c' placeholder='>' )
      span.input-group-btn
        button.btn.btn-primary Send
