include mixin

form.row(method="POST")
  fieldset.col-md-3
    legend Config
      button.btn.btn-info.pull-right.btn-sm(type='submit') Apply

    +frm_input('Device Name', 'name', 'data.name' )
    +frm_input('Device Delay', 'delay', 'data.delay' )
    +frm_input('Device unit', 'unit', 'data.unit' )

    +frm_check('Sleep Mode:', 'deepsleep', 'data.deepsleep' )

  fieldset.col-md-3
    legend wifi STA
      button.btn.btn-info.pull-right.btn-sm(type='submit') Apply

    +frm_input('Router SSID', 'ssid', 'data.ssid' )
    +frm_input('Router WPA key', 'key', 'data.key' )


  fieldset.col-md-3
    legend wifi AP
      button.btn.btn-info.pull-right.btn-sm(type='submit') Apply

    +frm_input('WPA AP mode key', 'apkey','data.apkey' )
    +frm_input_ip('ESP ip', 'espip', 'data.espip' )
    +frm_input_ip('ESP gateway', 'espgateway','data.espgateway' )
    +frm_input_ip('ESP Subnet', 'espsubnet','data.espsubnet' )
    +frm_input_ip('ESP DNS', 'espdns','data.espdns' )

  fieldset.col-md-3
    legend Protocol
      button.btn.btn-info.pull-right.btn-sm(type='submit') Apply

    +label('Protocol')
      select.form-control( name="protocol" )

    #Protocol

