include mixin
- var protocols = [0, 1, 2, 3, 4, 5, 6, 7, 8];
- var names = ["- Standalone", "Domoticz HTTP", "Domoticz MQTT", "Nodo Telnet", "ThingSpeak", "OpenHAB MQTT", "PiDome MQTT", "Emoncms", "Generic HTTP"];

form.row(method="POST")
  fieldset.col-md-3
    legend Main Settings
    +frm_input('Device Name', 'name', 'name' )
    +frm_input('Device Delay', 'delay', 'delay' )
    +frm_input('Device unit', 'unit', 'unit' )
    //- +frm_input('usedns', 'usedns', 'usedns' )
    //- +frm_input('Change Admin password', 'password' )
    .form-group
      label Password
      input.form-control( name='password')
    button.btn.btn-default(type='submit') Submit

    legend Protocol
    p Protocol: #{2}

  fieldset.col-md-3
    legend WiFi Station Settings
    +frm_input('SSID', 'ssid', 'ssid' )
    +frm_input('WPA key', 'key', 'key' )
    button.btn.btn-default(type='submit') Submit


  fieldset.col-md-3
    legend WiFi Access Point Settings
    +frm_input('WPA AP mode key', 'apkey','apkey' )
    +frm_input('ESP ip', 'espip', 'espip' )
    +frm_input('ESP gw', 'espgateway','espgateway' )
    +frm_input('ESP Subnet', 'espsubnet','espsubnet' )
    +frm_input('ESP DNS', 'espdns','espdns' )
    button.btn.btn-default(type='submit') Submit

  fieldset.col-md-3
    legend Protocol
    +label('Protocol')
      select.form-control( name="protocol" )
        for protocol, i in protocols
          option(value=protocol)= names[i]

    p Protocol: #{2}
    legend MQTT
    +frm_input('MQTT hostname', 'controllerhostname','controllerhostname' )
    +frm_input('MQTT ip', 'controllerip','controllerip' )
    +frm_input('MQTT port', 'controllerport', 'controllerport' )
    +frm_input('MQTT user', 'controlleruser','controlleruser' )
    +frm_input('MQTT pass', 'controllerpassword','controllerpassword' )
    button.btn.btn-default(type='submit') Submit
