include mixin
- var protocols = [0, 1, 2, 3, 4, 5, 6, 7, 8];
- var names = ["- Standalone", "Domoticz HTTP", "Domoticz MQTT", "Nodo Telnet", "ThingSpeak", "OpenHAB MQTT", "PiDome MQTT", "Emoncms", "Generic HTTP"];

form.row(method="POST")
  fieldset.col-md-3
    .panel.panel-primary
      .panel-heading.clearfix
        h3.panel-title.pull-left Config
        button.btn.btn-info.pull-right.btn-sm(type='submit') Save

      .panel-body
        +frm_input('Device Name', 'name', 'data.name' )
        +frm_input('Device Delay', 'delay', 'data.delay' )
        +frm_input('Device unit', 'unit', 'data.unit' )

        //- +frm_input('usedns', 'usedns', 'usedns' )
        //- +frm_input('Change Admin password', 'password' )

        //- .form-group
          label Login Password
          input.form-control( name='password')
        //- button.btn.btn-primary.pull-right.col-xs-6(type='submit') Save All

        //- legend Protocol
        //- p Protocol: #{2}

  fieldset.col-md-3
    .panel.panel-primary
      .panel-heading.clearfix
        h3.panel-title.pull-left WiFi STA Settings
        button.btn.btn-info.pull-right.btn-sm(type='submit') Save
      .panel-body
        +frm_input('Router SSID', 'ssid', 'data.ssid' )
        +frm_input('Router WPA key', 'key', 'data.key' )


  fieldset.col-md-3
    .panel.panel-primary
      .panel-heading.clearfix
        h3.panel-title.pull-left WiFi AP Settings
        button.btn.btn-info.pull-right.btn-sm(type='submit') Save
      .panel-body
        +frm_input_ip('WPA AP mode key', 'apkey','data.apkey' )
        +frm_input_ip('ESP ip', 'espip', 'data.espip' )
        +frm_input_ip('ESP gateway', 'espgateway','data.espgateway' )
        +frm_input_ip('ESP Subnet', 'espsubnet','data.espsubnet' )
        +frm_input_ip('ESP DNS', 'espdns','data.espdns' )

  fieldset.col-md-3
    .panel.panel-primary
      .panel-heading.clearfix
        h3.panel-title.pull-left Protocol Settings
        button.btn.btn-info.pull-right.btn-sm(type='submit') Save
      .panel-body
        +label('Protocol')
          select.form-control( name="protocol" )
            for protocol, i in protocols
              option(value=protocol)= names[i]
        +frm_input('MQTT hostname', 'controllerhostname','data.controllerhostname' )
        +frm_input('MQTT ip', 'controllerip','data.controllerip' )
        +frm_input('MQTT port', 'controllerport', 'data.controllerport' )
        +frm_input('MQTT user', 'controlleruser','data.controlleruser' )
        +frm_input('MQTT pass', 'controllerpassword','data.controllerpassword' )
