tr
  td
    a.btn.btn-default(href!='#/device?index=<%= device.DeviceId %>') E
  td <%= device.TaskDeviceID %>
  td <%= device.DeviceName %>
  td <%= device.TaskDeviceName %>
  td <%= device.PluginConfig %>
  td <%= device.TaskDeviceID %>
  td <%= device.DevicePins %>
  td <%= device.value %>

