fieldset.col-md-4
    .panel.panel-primary
      .panel-heading.clearfix
        a(href!='#/device?index=<%= row.DeviceId %>')
          h3.panel-title.pull-left <%= row.DeviceName %>
        a.btn.btn-info.pull-right.btn-sm(href!='#/device?index=<%= row.DeviceId %>') Edit
      .panel-body
        table.table.table-striped
          tr
            td Task
            td.text-right <%= row.DeviceId %>
          tr
            td Name
            td.text-right <%= row.TaskDeviceName %>
          tr
            td Port
            td.text-right <%= row.PluginConfig %>
          tr
            td IDX
            td.text-right <%= row.TaskDeviceID %>
          tr
            td GPIO
            td.text-right <%= row.DevicePins %>
          tr
            td Values
            td.text-right <%= row.value %>
