include mixin
legend Devices
table.table.table-striped
  thead
    tr.navbar-default
      td
      td Device
      td Values
      td Task
      td Name
      td Port
      td Idx
      td GPIO
  tbody

