tr
  td
    a.btn.btn-info(href!='#/devices/<%= device.DeviceId %>') E
  td <%= device.DeviceName %>
  td <%= device.value %>
  td <%= device.TaskDeviceID %>
  td <%= device.TaskDeviceName %>
  td <%= device.PluginConfig %>
  td <%= device.TaskDeviceID %>
  td <%= device.DevicePins %>

