include mixin

form.row(method="POST")
  fieldset.col-md-3
    legend Task Settings
    +frm_input('Name', 'taskdevicename', 'data.taskdevicename' )
    +frm_input('Delay', 'taskdevicetimer', 'data.taskdevicetimer' )
    +frm_input('IDX / Var:', 'taskdeviceid', 'data.taskdeviceid' )

    +frm_check('Send Data:', 'taskdevicesenddata', 'data.taskdevicesenddata' )
  fieldset.col-md-3
    legend Optional Settings
    +frm_input('Formula Temperature:', 'taskdeviceformula1', 'data.taskdeviceformula1' )

    +frm_input('Formula Humidity:', 'taskdeviceformula2', 'data.taskdeviceformula2' )

    +frm_input('Value Name 1:', 'taskdevicevaluename1', 'data.taskdevicevaluename1' )

    +frm_input('Value Name 2:', 'taskdevicevaluename2', 'data.taskdevicevaluename2' )

    button.btn.btn-primary.pull-right.col-xs-6(type='submit') Save All
