include mixin

- var gpios = [-1, 0, 2, 4, 5, 9, 10, 12, 13, 14, 15, 16];
- var labels = ["", 'PIO-0', 'PIO-2', 'PIO-4', 'PIO-5', 'PIO-9', 'GPIO-10', 'GPIO-12', 'GPIO-13', 'GPIO-14', 'GPIO-15', 'GPIO-16'];
- V = function(val){return '%=' + val + '%'}

mixin pinState(id)
  +label Pin mode #{id}:
    select.form-control( name="p#{id}" )
      option(value="0") Default
      option(value="1") Output Low
      option(value="2") Output High

form.row(method="POST")
  fieldset.col-sm-3.col-sm-offset-3
    .panel.panel-primary
      .panel-heading.clearfix
        h3.panel-title.pull-left I²C Settings
        button.btn.btn-info.pull-right.btn-sm(type='submit') Save
      .panel-body
        +label SDA:
          select.form-control(name="psda")
            for gpio, i in gpios
              option(value=gpio)= labels[i]
        +label SCL:
          select.form-control(name="pscl")
            for gpio, i in gpios
              option(value=gpio)= labels[i]
  fieldset.col-sm-3
    .panel.panel-primary
      .panel-heading.clearfix
        h3.panel-title.pull-left Pins state
        button.btn.btn-info.pull-right.btn-sm(type='submit') Save
      .panel-body
        for gpio in gpios
          if gpio >=0
            +pinState(gpio)

