include mixin
form(method='post')
  h4 Auth
  .input-group
      input.form-control( type='password' name='password' placeholder='enter password' )
      span.input-group-btn
        button.btn.btn-default ok


