include mixin
.row
  .col-md-4
    legend System Info
    table.table.table-striped
      tr
        td Uptime
        td.text-right <%= data.Uptime%>
      tr
        td IP address
        td.text-right <%= data.IP%>
      tr
        td Gateway
        td.text-right <%= data.Gateway%>
      tr
        td Build
        td.text-right <%= data.Build%>
    p
      strong Unit:
      | <%= data.Unit%>
    p
      strong STA MAC:
      | <%= data.STA_MAC%>
    p
      strong AP MAC:
      | <%= data.AP_MAC%>
    p
      strong ESP Chip ID:
      | <%= data.Chip_id%>
    p
      strong Flash Chip ID:
      | <%= data.Flash_Chip_id%>
    p
      strong Flash Size:
      | <%= data.Flash_Size%>
    p
      strong Free Mem:
      | <%= data.FreeMem%>
    p
      strong Boot cause:
      | <%= data.Boot_cause%>


