script
  | $( function(){
  var apiPrefix = "/api";
  include ../../.tmp/min/main.js
  include ../../.tmp/min/cfg.js
  include ../../.tmp/min/devices.js
  include ../../.tmp/min/command.js
  include ../../.tmp/min/protocol.js
  include ../../.tmp/min/i2c.js
  include ../../.tmp/min/router.js
  | });
