.brand.no-padding
  a.btn.btn-link(href='#/') ESP 
    sub easy
  a.btn.btn-xs.btn-default.pull-right(href='#/logout') x
  .btn-group.btn-group-justified
    a.btn.btn-primary(href='#/') info
    a.btn.btn-primary(href='#/config') cfg
    a.btn.btn-primary(href='#/hardware') hard
    a.btn.btn-primary(href='#/devices') dev
    a.btn.btn-primary(href='#/tools') tools

//
// nav.navbar.navbar-default
//  .container-fluid
//    .navbar-brand ESP
//      sub easy
//    ul.nav.navbar-nav.navbar-right
//      li
//        a(href='#/') Main
//      li
//        a(href='#/config') Config
//     li
//        a(href='#/hardware') Hardware
//      li
//        a(href='#/devices') Devices
//      li
//        a(href='#/tools') Tools
//      li
//        a(href='#/logout') Exit
