nav.navbar.navbar-default
  .container-fluid
    .navbar-brand ESP
      sub easy
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/') Main
      li
        a(href='/config') Config
      li
        a(href='/hardware') Hardware
      li
        a(href='/devices') Devices
      li
        a(href='/tools') Tools