include mixin
//-
  #####  #####   ####  #####  ####   ####   ####  #
  #    # #    # #    #   #   #    # #    # #    # #
  #    # #    # #    #   #   #    # #      #    # #
  #####  #####  #    #   #   #    # #      #    # #
  #      #   #  #    #   #   #    # #    # #    # #
  #      #    #  ####    #    ####   ####   ####  ######

script(id='ProtocolAccount', type='text/x-template')
  //- user
  +frm_input('Controller User:', 'controlleruser', 'data.controlleruser')

script(id='ProtocolHost', type='text/x-template')
  //- hostname
  +frm_input('Host:', 'host', 'data.host' )
  //- ip
  //- +frm_input_ip('Controller IP:', 'controllerip', 'data.controllerip' )
  //- port
  +frm_input('Controller Port:', 'controllerport', 'data.controllerport' )


script(id='ProtocolPassword', type='text/x-template')
  //- pass
  +frm_input('Controller Password:', 'controllerpassword', 'data.controllerpassword' )





