include mixin

.row
  fieldset.col-sm-3
    .panel.panel-primary
      .panel-heading.clearfix
        h3.panel-title.pull-left Tools
      .panel-body
        h3 System
        .list-group
          a.list-group-item(href='#/log') Log
          a.list-group-item(href='#') Reboot
          a.list-group-item(href='#') Advanced
        h3 Wifi
          a.list-group-item(href='#/wifi') Scan
          a.list-group-item(href='#') Connect
          a.list-group-item(href='#') Disconnect
        h3 Interfaces
          a.list-group-item(href='#/i2c') I²C Scan
        h3 Settings
          a.list-group-item(href='#') Load
          a.list-group-item(href='#') Save
        h3 Firmware
          a.list-group-item(href='#') Load
          a.list-group-item(href='#') Save
        h3 Command
          .input-group
            input.form-control
              span.input-group-btn
                button.btn.btn-default go




