include mixin

.row
  .col-md-4
    h4 System
    .btn-group
      a.btn.btn-default(href='#/log') Log
      button.btn.btn-default Reboot
      a.btn.btn-default(href='#/advanced') Advanced

  .col-md-4
    h4 Wifi
    .btn-group
      a.btn.btn-default(href='#/wifi') Scan
      button.btn.btn-default Connect
      button.btn.btn-default Disconnect

  .col-md-4
    h4 Interfaces
    a.btn.btn-default(href='#/i2c') I2C Scan
.row


  .col-md-4
    h4 Settings
    button.btn.btn-default Load
    button.btn.btn-default Save

  .col-md-4
    h4 Firmware
    button.btn.btn-default Load
    button.btn.btn-default Save

  .col-md-4
    h4 Command
    .input-group
      input.form-control
      span.input-group-btn
        button.btn.btn-default Submit




