include mixin
.row
  .col-md-3
    h4 System
    .list-group
      a.list-group-item(href='#/log') Log
      a.list-group-item(href='#') Reboot
      a.list-group-item(href='#/advanced') Advanced
      a.list-group-item(href='#/command') Commands
  .col-md-3
    h4 Wifi
    .list-group
      a.list-group-item(href='#/wifi') Scan
      a.list-group-item(href='#') Connect
      a.list-group-item(href='#') Disconnect
  .col-md-3
    h4 Interfaces
    .list-group
      a.list-group-item(href='#/i2c') I²C Scan
  .col-md-3
    h4 Settings
    .list-group
      a.list-group-item(href='#') Load
      a.list-group-item(href='#') Save
    h4 Firmware
    .list-group
      a.list-group-item(href='#') Load
      a.list-group-item(href='#') Save
