include ../mixin

+frm_input('Name:', 'taskdevicename', 'data.taskdevicename' )
+frm_input('IDX / Var:', 'taskdeviceid', 'data.taskdeviceid' )
+frm_input('Port:', 'taskdeviceport', 'data.taskdeviceport' )
+label Gain:
  select.form-control( name="plugin_025_gain" )
    option(value="0") 2/3x gain 6.144V 0.1875mV
    option(value="2") 1x gain 4.096V 0.125mV
    option(value="4") 2x gain 2.048V 0.0625mV
    option(value="6") 4x gain 1.024V 0.03125mV
    option(value="8") 8x gain 0.512V 0.015625mV
    option(value="10") 16x gain 0.256V 0.0078125V
+frm_check('Send Data:', 'taskdevicesenddata', 'data.taskdevicesenddata' )
+frm_input('Formula Analog:', 'taskdeviceformula1', 'data.taskdeviceformula1' )
+frm_input('Value Name:', 'taskdevicevaluename1', 'data.taskdevicevaluename1' )
