include ../mixin

+frm_input('Name:', 'taskdevicename', 'data.taskdevicename' )
+frm_input('IDX / Var:', 'taskdeviceid', 'data.taskdeviceid' )
+frm_check('Send Data:', 'taskdevicesenddata', 'data.taskdevicesenddata' )
+frm_input('Value Name:', 'taskdevicevaluename1', 'data.taskdevicevaluename1' )
