include ../mixin

+frm_input('Name:', 'taskdevicename', 'data.taskdevicename' )
+frm_input('IDX / Var:', 'taskdeviceid', 'data.taskdeviceid' )
+frm_check('Send Data:', 'taskdevicesenddata', 'data.taskdevicesenddata' )

+frm_input('Formula Temperature:', 'taskdeviceformula1', 'data.taskdeviceformula1')
+frm_input('Formula Pressure:', 'taskdeviceformula2', 'data.taskdeviceformula2' )

+frm_input('Temperature Value Name:', 'taskdevicevaluename1', 'data.taskdevicevaluename1' )
+frm_input('Pressure Value Name:', 'taskdevicevaluename2', 'data.taskdevicevaluename2' )
