include ../mixin

+frm_input('Name', 'taskdevicename', 'data.taskdevicename' )
+frm_input('IDX / Var:', 'taskdeviceid', 'data.taskdeviceid' )
+label 1st GPIO:
  select.form-control(name="taskdevicepin1")
    for gpio, i in gpios
      option(value=gpio)= labels[i]

+frm_check('Send Data:', 'taskdevicesenddata', 'data.taskdevicesenddata' )

+frm_input('Formula Dust:', 'taskdeviceformula1', 'data.taskdeviceformula1' )

+frm_input('Value Name 1:', 'taskdevicevaluename1', 'data.taskdevicevaluename1' )
