include ../mixin

+frm_input('Controller Hostname:', 'controllerhostname', 'data.controllerhostname' )
+frm_input_ip('Controller IP:', 'controllerip', 'data.controllerip' )
+frm_input('Controller Port:', 'controllerport', 'data.controllerport' )
+frm_input('Controller Password:', 'controllerpassword', 'data.controllerpassword' )

+frm_input('Sensor Delay:', 'delay', 'data.delay' )
+frm_check('Sleep Mode:', 'deepsleep', 'data.deepsleep' )
